{% extends 'mission1.html'%}
{% block title %}
<img class="title" src="{{ url_for('static', filename = 'img/m2.png') }}">
{% endblock %}

{% block contents %}
<img class="mission" src="{{ url_for('static', filename = 'img/m2e.png') }}">
{% endblock %}

{% block form_dest %}
<form action = "{{url_for('mission2_')}}" method = "POST" enctype = "multipart/form-data">
{% endblock %}
    
{% block mission_result %}
<img id = "popup-img" class="popup-img" src="{{ url_for('static', filename = 'img/popup/fail.png') }}">
{% endblock %}
    
{% block result_btn %}
<div><img class="retry-btn" src="{{ url_for('static', filename = 'img/btn/retry_k.png') }}"></div>
{% endblock %}